QScrollArea {
  border:none;
}

QScrollBar:vertical {
  margin: 0;
  border: 0;
  width: 4px;
}

QScrollBar::handle:vertical {         
  min-height: 0px;
  border: 0px solid red;
  border-radius: 4px;
  background-color: #dedede;
}            

QScrollBar::add-line:vertical {
  height: 0px;
}

QScrollBar::sub-line:vertical {
  height: 0px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
  height: 0px;
}

